body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    position: absolute;
    max-width: 800px;
    padding-left: 200px;
    padding-right: 200px;
}

ul {
z-index: 900;
float: right;
position: sticky;
width: 315px;
list-style-type:none;
margin: -10px;
padding: 0px;
overflow: hidden;
background-color: black;
border-bottom-left-radius: 5px;  
border-bottom-right-radius: 5px;
border-top-left-radius: 5px;  
border-top-right-radius: 5px;
}

/* Icon Anfang */
.wrapper {
  position: relative;
  margin-left: 100px;
  margin-top: -10px;
  width: 800px;
  height: 400px; 
  background-color: rgb(187, 57, 57);
  border-bottom-left-radius: 400px;  
  border-bottom-right-radius: 400px;
  border: 10px solid rgb(187, 57, 57);
  border-bottom: 0;
}

.title {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 135px;
  color: rgb(255, 255, 255);
  letter-spacing: -9px;
  margin-top: 105px;
}

.subtitle {
   position: absolute;
  top: 160px;
  left: 60%;
  color: rgb(255, 255, 255);
}

.content {
   position: absolute;
  top: 190px;
  left: 60%;
  color: rgb(255, 255, 255);
}

.icon {
  position: absolute;
  width: 30px;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 75px;
  opacity: 70%;
}

.text {
  max-width: 400px;
}
/* Icon Ende */

li {
float: right;
border-top: 15px;
}

li a {
display: block;
color: white;
text-align: left;
font-size: 14px;
padding: 5px 19px;
text-decoration: none;
}

li a:hover {
background-color: #111;
color: lightcoral;
}

.Kontaktform-Titel
{
  margin-top: 140px;
  margin-bottom: 35px;
font-size: 18px;
color:  rgb(187, 57, 57); 
}

/* ContactFormStart */
input[type=text], select, textarea {
    width: 70%; 
    padding: 7px; 
    border: 1px solid rgb(173, 173, 173); 
    border-radius: 3px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    background-color: rgb(173, 173, 173);
    }


  #subject { width: 90%;
  }


  /* submit button */
  input[type=submit] {
    color: rgb(173, 173, 173);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Hover stuff */
  input[type=submit]:hover {
    background-color: rgb(29, 29, 29);
  }
  
  .container {
    border-radius: 10px;
    padding: 0px;
    margin-top: 15px;
  }


/* Portfolio Fotos*/
  #Fotos {
    font-family: Arial, Helvetica, sans-serif;
    display: table;
    max-width: 800px;
    color: rgb(187, 57, 57);
    padding-top: 180px;
    font-size: 18px;    
   
  }

  #Video {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-table;
    vertical-align: left;
    max-width: 800px;
    color: rgb(187, 57, 57);
    padding-top: 80px;
    font-size: 18px

  }
