html{
    height: 100%;
} 

body{
    align-items: center;
    justify-content: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.drumpad{
    width: 500px;
    height: 650px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    display:flex;
}

.drumpad div{
    width: 150px;
    height: 150px;
    border-radius: 10%;
}


.drumpad1, .drumpad2, .drumpad4{
    background-color: #58787a;
}

.drumpad5, .drumpad3{
    background-color: #4455ae;
}

.drumpad6, .drumpad9{
    background-color: #d7a8fe;
}

.drumpad7, .drumpad8{
    background-color: #914964;
}

.buttons{
    display: flex;
    height: 100px;
    position: relative;

}
.fa-play {
    color: lightcoral;
    position: absolute;
    left:0;
    height: 0;   
}

.fas{
    margin: 15px;
    color: #3f4e45;
    font-size: 40px;
}


.fa-pause{
    color: lightcoral;
    position: absolute;
    left:0;
    height: 0;   
}


.active{
    color: rgba(84, 35, 83, 0.322);
}

.inactive{
    visibility: hidden;}